h1{
    color: red;
    margin: 0 auto;
    text-align: center;
}
p{
    color: blue;
}
input{
    display: block;
    text-align: center;
    width: 100%;
}
form{
    width: 300px;
    background-color: red;
    padding: 20px;
    margin: 200px auto;
    display: block;
    border-radius: 10px;
    border: 2px solid yellow;
    box-shadow: 1px 2px 3px 4px white;
}
body{
    background-color: black;
}
head{
    background-color: white;
}
label{
    color: white;
}
button{
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    width: 40%;
    cursor: pointer;
    font-size: 13px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;

}